.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------*/
body{
  background-color: #292b2c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.bg-black{
  background-color: black;
}

.carousel, .carousel-inner, .item, .active {
  height: 92vh;
}

.pic1, .pic2, .pic3 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic1 {
background-image: url(https://www.spacex.com/static/images/backgrounds-new/Desktop_StarL19_DSC_1291.webp);
}

.pic2 {
background-image: url(https://static.pexels.com/photos/221315/pexels-photo-221315.jpeg);
}

.pic3 {
background-image: url(https://static.pexels.com/photos/161820/monument-valley-west-western-161820.jpeg);
}